* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F2F2F2;
    color: #292929;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #000;
}

button {
    background: transparent;
    border: 0px solid transparent;
}


/***** Header ******/

.menu-nav {
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    line-height: 50px;
    list-style: none;
    position: fixed;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.menu-nav li,
button {
    font-size: 0.875rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 1%;
    margin-right: 4em;
}

.menu-link a {
    color: #000;
}

.active_yellow:hover {
    color: #FFD923;
    transition: 0.3s;
}

.active_green:hover {
    color: #1EB081;
    transition: 0.3s;
}

.active_orange:hover {
    color: #FF5B33;
    transition: 0.3s;
}

.menu-btn {
    font-weight: bolder;
    border: 3px solid;
    padding: 0.4%;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    touch-action: manipulation;
}

.menu-btn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.menu-btn a:hover {
    color: #008CB6;
}

/***** Fin Header ******/


/***** Section Hola ******/

.hola {
    /* background-color: red; */
    width: 100%;
}

.section-hola {
    /* background-color: green; */
    display: flex;
    padding: 10% 5%;
    margin: 0 2%;
}

.hola-container {
    /* background-color: blue; */
    padding: 5% 20% 0 0;
}

.hola-titulo {
    font-size: 2em;
    margin-bottom: 5%;
}

.hola-nombre {
    color: #000000;
    font-size: 4em;
    letter-spacing: 1px;
    margin-bottom: 5%;
}

.hola-texto {
    font-size: 1.2rem;
    margin: 0 2% 5% 0;
}

.hola-img {
    padding: 5% 0;
}

.hola-btn {
    background-color: #FF5B33;
    font-weight: bold;
    border: 3px solid;
    padding: 3% 6%;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    touch-action: manipulation;
}

.hola-btn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

/***********/

.section-conocimientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: gold;
}

.flex-conocimientos {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.box-conocimientos {
    border: 3px outset gold;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 12px;
    padding: 15px;
}

/***********/

.section-quote {
    display: flex;
    justify-content: center;
    padding: 200px;
}

/***********/

/* * repeticion */
.section-proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: gold;
}

.flex-proyectos {
    display: flex;
    justify-content: center;
}

.box-proyectos {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 7px;
    margin: 10px;
}

/***********/
.section-contacto {
    display: flex;
}

.box-contactame {
    margin: 100px;
}

.box-escribime {
    margin: 100px;
}

/***********/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>nav>ul {
    display: flex;
    margin: 10px;
    align-self: center;
}