@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F2F2F2;
    color: #292929;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #000;
}

li {
    list-style: none;
}

.menu--burger {
    display: none;
}

/* ************************
********* Buttons **********
*************************** */

button {
    background: transparent;
    border: 0px solid transparent;
}

.btn {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    border: 2px solid;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    touch-action: manipulation;
}

.btn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.link--yellow:hover {
    color: #FFD923;
    transition: 0.3s;
}

.link--green:hover {
    color: #1EB081;
    transition: 0.3s;
}

.link--orange:hover {
    color: #FF5B33;
    transition: 0.3s;
}

.link--blue:hover {
    color: #008CB6;
}

.btn--s {
    padding: 0.5% 1%;
    margin: 1.7% 3% 0 0;
    height: 10%;
}

.btn--m {
    background-color: #FF5B33;
    padding: 1% 5%;
    margin: 3% 0;
    height: 10%;
}


/* ************************
******* Modificator *******
*************************** */

.title--mod {
    color: #000000;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-top: 5%;
}


.text--mod {
    font-size: 1em;
    margin-top: 2%;
}

.text--box {
    font-size: 1em;
    margin-top: 5%;
    font-weight: bolder;
}

/* ************************
********* Header **********
*************************** */

.menu__nav {
    background-color: #fafafa;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    line-height: 50px;
    position: fixed;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.menu__link {
    font-size: 0.875rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 1%;
    margin-right: 4em;
    color: #000;
}

/* ************************
****** Hello Section *******
*************************** */

.hello {
    width: 100%;
}

.hello__section {
    display: flex;
    padding: 10% 5%;
    margin: 0 2%;
}

.hello__bio {
    padding: 2% 10% 0 0;
}

.hello__title {
    font-size: 2em;
    margin-bottom: 5%;
}

.hello__name {
    font-family: 'Fredoka One';
    color: #000000;
    font-size: 3.66em;
    margin-bottom: 5%;
}

.hello__text {
    margin: 0 2% 5% 0;
}

.hello__img {
    padding: 10% 0;
    width: 500px;
    height: 300px;
}


/* ************************
* Knowledge / Projects Section *
*************************** */

.knowledge__section,
.projects__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.knowledge__text,
.projects__text {
    text-align: center;
    width: 60%;
}

/* *************************** 
Knowledge */

.knowledge__thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4%;
    width: 80%;
}

.knowledge__box {
    background-color: #fff;
    border: 1px outset black;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin: 1%;
    padding: 2%;
    transition: 0.3s ease-in-out;
}

.knowledge__box:hover {
    transform: translateY(-5px);
    box-shadow: 7px 7px 0px -1px rgba(0, 0, 0, 1);
}

/* *************************** 
Projects */

.projects__thumbnails {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 85%;
    margin: 6%;
}

.projects__box {
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    margin: 1%;
    padding: 5%;
    transition: 0.5s ease-in-out;
}

.projects__box:hover {
    outline: 1px outset black;
    transform: scale(1.1);
}

.projects__box:active {
    box-shadow: 7px 7px 0px -1px rgba(0, 0, 0, 1);
}

.projects__img {
    width: 100%;
}

/* ************************
*********** GIF ***********
*************************** */

.gif {
    text-align: center;
    background-color: white;
    padding: 2%;
}

.gif__animation {
    width: auto;
}


/* ************************
****** Quote Section ******
*************************** */


.quote__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

.quote__text {
    font-size: 3rem;
    text-align: center;
}

.quote__author {
    font-size: 1rem;
    font-weight: 800;
    margin-top: 5%;
}

.quote__icon {
    color: black;
    font-size: 4rem;
    margin-bottom: 5%;
}

/* ************************
***** Contact Section *****
*************************** */

.contact {
    display: flex;
    justify-content: center;
}

.contact__section {
    background-color: #fff;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    padding: 4% 6% 6% 4%;
    margin: 0 5%;
}

.contact__text {
    margin: 10% 0;
    width: 70%;
}

.contact__icon {
    margin: 5% 4%;
}

.icon__link:hover {
    color: #a66be4;
}

.icon__text {
    margin-left: 15px;
    font-weight: bolder;
}

/* *************************** 
Form */

label {
    display: block;
    font-size: 1em;
    margin: 5% 0;
}

input,
textarea {
    border: none;
    background-color: rgba(51, 51, 51, 0.05);
    padding: 10px;
    width: 90%;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.form__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 65%;
}

.form__title {
    margin-bottom: 7%;
}

.form__name,
.form__surname {
    display: inline-block;
    width: 45%;
}

.form__name {
    margin-right: 5%;

}

/* ************************
********** Footer *********
*************************** */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>nav>ul {
    display: flex;
    margin: 10px;
    align-self: center;
}


@media (max-width: 400px) {
    .title--mod {
        font-size: 1.875em;
    }

    .text--mod {
        font-size: 0.9375em;
    }

    .text--box {
        font-size: 1em;
    }

    .menu__link,
    .menu__btn {
        display: none;
    }

    .menu--burger {
        display: block;
        color: #292929;
        align-items: center;
        justify-content: flex-end;
        font-size: 2em;
        padding: 1rem;
    }

    .hello__section {
        flex-wrap: wrap;
        width: 80%;
    }

    .knowledge__section,
    .knowledge__text,
    .projects__section {
        flex-wrap: wrap;
        width: 100%;
    }

    .hello__bio {
        margin-top: 35%;
        width: 90%;
    }

    .hello__img {
        margin-top: 15%;
        width: 90%;
    }

    .knowledge__title,
    .knowledge__text,
    .projects__title,
    .projects__text {
        width: 80%;
        text-align: center;
    }

    .knowledge__box {
        width: 35%;
        margin: 4%;
        padding: 3%;
    }

    .knowledge__img {
        width: 90%;
    }

    .projects__box {
        width: 100%;
        margin: 4%;
        padding: 4%;
    }

    .gif__animation {
        width: 100%;
    }

    .quote__section {
        padding: 40% 3%;
        text-align: center;
    }

    .contact__section {
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        border: none;
    }

    .contact__box {
        width: 80%;
    }

    .contact__title,
    .contact__text, .form__title{
        width: 90%;
        text-align: center;
    }

    .form__name,
    .form__surname {
       width: 100%;
    }

    footer {
        display: none;
    }
}